<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.Driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/online_exams</property>
        <property name="hibernate.connection.user">root</property>
        <property name="hibernate.connection.password">Ganesh@07</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.exam_system_entity.Course"/>
        <mapping class="com.exam_system_entity.Exam"/>
        <mapping class="com.exam_system_entity.Option"/>
        <mapping class="com.exam_system_entity.Question"/>
        <mapping class="com.exam_system_entity.Result"/>
        <mapping class="com.exam_system_entity.User"/>
        <mapping class="com.exam_system_entity.UserExam"/>
        <mapping class="com.exam_system_entity.JoinCourse"/>

        <mapping class="com.exam_system_crud.Menu"/>


    </session-factory>
</hibernate-configuration>
